.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
  align-items: stretch;
}

.listItem {
  background-color: #F3F3F3;
  border-radius: 8px;
  display: flex;
  padding: 10px;
}

.link {
  margin-left: auto;
  align-self: flex-end;
}
