.subtitle {
  font-size: 12px;
  margin-bottom: 10px;
}

.sort {
  flex: none;
  width: 152px;
  background-color: #BDBDBD;
  padding: 35px 21px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
}
